.actions-form {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: contents;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.actions-form .react-datepicker-wrapper {
    text-align: center;
}

.date {
    width: 100%;
}

.addActionOrCancel {
    width: 21%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.input {
    width: 30%;
    margin-bottom: 10px;
    padding: 15px;
    margin-bottom: 5px;
}

.textarea {
    width: 33%;
    height: 100px;
    margin-bottom: 5px;
}