.clientWrapper{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.actionsWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.actionsWrapper .react-datepicker-wrapper {
    text-align: center;
}

.actionsWrapper textarea {
    width: 32%;
    resize: vertical;
    height: 100px;
}

.errors {
    font-weight: bold;
    color: red;
}

.errors span {
    color: green;
}