.tableWrapper button {
    width: 21%;
}

.tableWrapper .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.red {
    color: red;
}

.green {
    color: green;
}